<section class="bg-mainColor_dark">
  <div class="container-fluid p-4 pe-5">
    <div class="row">
      <div class="col-12 col-md-7 col-lg-6 pe-0 pe-md-5 full_height">
        <div class="mb-5">
          <img src="../../../../../assets/images/Logo-white.svg" class="w-25" alt="">
        </div>
        <h2 class="text-mainColor_lightGreen my-5">Forgot password</h2>
        <a (click)="login()" class="text-mainColor_lightGreen fw-medium">Back to Login ?</a>

        <form [formGroup]="forgotPassword" (ngSubmit)="handleForm(forgotPassword)" class="w-100 ">
          <div class="form-item w-100 my-5 py-4">
            <label for="email" class="text-white">Your Email Address</label>
            <div class="input-group mb-3 custom-input">
              <span
                class="input-group-text px-3 py-3 bg-transparent text-white rounded rounded-start-3 rounded-end-0 border border-4 border-end-0"
                id="basic-addon1"><i class="fa-solid fa-envelope"></i></span>
              <div class="y-line my-auto"></div>
              <input type="email" class="form-control rounded-end py-1 bg-transparent text-white ps-3 border border-4"
                placeholder=" Type your Email" aria-label="email" aria-describedby="basic-addon1"
                formControlName="email">
            </div>
            <div *ngIf="forgotPassword.get('email')?.errors && forgotPassword.get('email')?.touched"
              class="text-red m-0 mx-auto p-0 text-start alert alert-danger p-2">
              <mat-error class="text-red" *ngIf="forgotPassword.get('email')?.getError('required')">Email is
                required</mat-error>
              <mat-error class="text-red p-0 block" *ngIf="forgotPassword.get('email')?.getError('email')">email isn't
                Validator</mat-error>
            </div>
          </div>

          <div class="col-md-12 d-flex justify-content-between align-items-center">
            <button [disabled]="!forgotPassword.valid" class="submit" type="submit">
              <span class="text me-1">Send email</span><span><i class="fa-solid  fa-circle-check"></i></span>
              <div class="bg-true">
                <i class="fa-solid  fa-circle-check"></i>
              </div>
            </button>

            <a (click)="resetPass()" class="text-mainColor_lightGreen fw-medium">Have a code ?</a>

          </div>

        </form>


      </div>


      <div
        class="col-md-5 col-lg-6 border rounded-5 d-none d-md-flex bg-mainColor_light justify-content-center align-items-center">
        <div class="w-75" id="image-container">
          <img src="../../../../../assets/images/Auth_Image.svg" class="w-100" alt="">
        </div>
      </div>

    </div>
  </div>
</section>
