<section class="d-flex">


  <div class="w-50 p-3 m-4  border border-2 rounded rounded-3">
    <div class="d-flex justify-content-evenly">
      <div class="d-flex justify-content-between quizIcon pointer">
        <div class="border border-2 rounded rounded-2 text-center p-3"><i class="fa-solid fa-stopwatch mb-2"></i>
          <h4 class="py-2">Set up a new quiz</h4>
        </div>
      </div>

      <div class="d-flex justify-content-between quizIcon pointer">
        <div class="border border-2 rounded rounded-2 text-center p-3" (click)="QuestionsModule()"><i
            class="fa-solid fa-vault mb-2"></i>
          <h4 class="py-2">Question Bank</h4>
        </div>
      </div>
    </div>

  </div>


  <div class="w-50 p-3 m-2 mt-4 border border-2 rounded rounded-3">
    <div class="d-flex justify-content-between border border-2 p-3 rounded rounded-3">
      <h4>Upcoming 5 quizzes</h4>
      <p>Quiz directory</p>
    </div>

    <div>
      <div class="d-flex mt-3 overflow-hidden rounded rounded-4 border border-2 align-items-center">
        <div class="w-25">
          <img src="../../../../../assets/images/Avatar-Profile-Vector-PNG-Pic.png" alt=""
            class="w-75 rounded rounded-4">
        </div>
        <div class="w-75">
          <h5 class="mb-2"><span class="me-2">first_name</span> <span>last_name</span></h5>
          <p>email</p>
        </div>
      </div>
    </div>
  </div>
</section>
