<section class="d-flex">
  <div class="w-50 p-3 m-4 me-2 border border-2 rounded rounded-3">
    <div class="d-flex justify-content-between">
      <h4>Upcoming 5 quizzes</h4>
      <p><a>Quiz directory <i class="fa-solid fa-arrow-right text-mainColor_lightGreen"></i></a></p>
    </div>
  </div>
  <div class="w-50 p-3 m-4 ms- border border-2 rounded rounded-3">
    <div class="d-flex justify-content-between">
      <h4>Top 5 Students </h4>
      <p (click)="studentsModule()"><a>All Students <i
            class="fa-solid fa-arrow-right text-mainColor_lightGreen"></i></a></p>
    </div>

    <div *ngFor="let item of studentTable">
      <div class="d-flex mt-3 overflow-hidden rounded rounded-4 border border-2 align-items-center">
        <div class="w-25">
          <img src="../../../../../assets/images/Avatar-Profile-Vector-PNG-Pic.png" alt=""
            class="w-75 rounded rounded-4">
        </div>
        <div class="w-75">
          <h5 class="mb-2"><span class="me-2">{{item.first_name}}</span> <span>{{item.last_name}}</span></h5>
          <p>{{item.email}}</p>
        </div>
      </div>
    </div>
  </div>
</section>
