#navBar{
border-bottom: 1px solid rgba(0, 0, 0, 0.2);


img{
vertical-align:sub;
}
.navItemA{
border-bottom: 1px solid rgba(0, 0, 0, 0.2);

border-right: 1px solid rgba(0, 0, 0, 0.2);



}
.navCaption{
 

border: 1px solid rgba(0, 0, 0, 0.2);
border-radius: 30px;

}


.navProfiole{
    // border-bottom: 1px solid rgba(0, 0, 0, 0.2);

}

}


/* new quiz span */

// box-sizing: border-box;

// position: absolute;
// width: 150px;
// height: 40px;
// left: 610px;
// top: 25px;

// background: #FFFFFF;
// border: 1px solid rgba(0, 0, 0, 0.2);
// border-radius: 30px;
