<section class=" w-100" id="navBar">
    <section class="w-100 ">
       <section class="row">
          <section class="col-7 navItemA  px-4 d-flex justify-content-between align-items-center">
            <h5>Dashboard</h5>
            <div class="navCaption  d-flex align-items-center justify-content-center w-25 ">

          <img src="../../../../../assets/images/alert.png " class="d-inline-block mx-2" alt="">
             
                 <h6 class="my-2">New quiz</h6>
            </div>



          </section >



          <section class="col-5 navProfiole  px-4 d-flex justify-content-between align-items-center">
        
               <section class="w-50">
           <h5>Nwabuikwu Chizuruoke <span>
            Role
           </span></h5>
            


               </section>


               <div class="">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                       <mat-icon>
                        expand_more
                        </mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">


                    <button mat-menu-item>
                      <mat-icon>manage_accounts</mat-icon>
                      <span>Edite Profile</span>
                    </button>

                
                    <button mat-menu-item>
                        <mat-icon>lock_open</mat-icon>
                        <span>Change password</span>
                      </button>

                      <button mat-menu-item>
                        <mat-icon>logout</mat-icon>
                        <span>logout</span>
                      </button>



                    
                  </mat-menu>
                  
            
            </div>





          </section>

       </section>
    </section>
   
</section>