@import'../../../../../assets/styles/layout';

#navBar{
border-bottom: 1px solid rgba(0, 0, 0, 0.2);
height: 80px;

img{
vertical-align:sub;
}


.navCaption{
border: 1px solid rgba(0, 0, 0, 0.2);
border-radius: 30px;
}
}


.vertical-line {
  width: .5px;
  height: 80px;
  background-color: rgb(167, 167, 167);
}

.w-65 {
  width: 55%;
}

.w-35 {
  width: 35%;
}

.name {
  font-size: 19px;
}

.navIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  i{
    scale: 2.5;
  }
}
