@import'../../../../../../assets/styles/layout';


.w-40 {
  width: 40%;
}

.w-60 {
  width: 60%;
}

.w-95 {
  width: 95%;
}

.padding {
  padding: 12px 17px;
  border-radius: 15px;

}

.w-85 {
  width: 90%;
}

.border_mainColor {
  border: solid 4px #C5D86D50;
  border-radius: 10px;
}
