
@import'./../../../../../../assets/styles/abstracts/_utilities';


#groubs{

width: 95%;
margin: auto;



.navCaption{
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    width: 200px;
    }

.groubList{

    border:1px solid #00000033;
    border-radius: 10px;


.cards{
    border:1px solid #00000033;
    border-radius: 10px;
    padding: 1rem;
}

h3{
 font-size: 16px;  

}




}

}


