

<section  id="groubs" class="my-5 p-3">
    <section class="heder w-100 ">

        <div (click)="openDialogAddEdit('add')" class="navCaption ms-auto  d-flex align-items-center justify-content-center  ">
             <img src="../../../../../../assets/images/alert.png " class="d-inline-block mx-2" alt="">
             <h6 class="m-2">Add Group</h6>
           </div>
     </section>


<section class="groubList container my-4  py-4  ">


<h3 *ngIf="tableGroub.length!=0">Groups list</h3>


<section class="row">
    <ng-container *ngIf="tableGroub.length!=0" >

   
  <section  *ngFor="let item of tableGroub" class="col-md-6 my-2 ">
    <div class="cards px-3 d-flex justify-content-between align-items-center">
      
        <div class=" cardCaption  w-50 ">
           <h5 class="pt-2">Group : {{item.name}}</h5> 
           <p>No. of students : {{item.students.length}}</p>


           <!-- <p>groubId{{item._id}}</p>
           <p>studId{{item.students[0]}}</p> -->
           
           
           
        </div>


        <div class="cardicon w-25  d-flex justify-content-end" >
            <i class="fa-solid fa-pen-to-square fs-4 mx-1 text-mainColor_lightGreen"></i>
            <i class="fa-solid fa-trash-arrow-up fs-4 mx-1 text-danger"></i>


        </div>




    </div>

  </section>

</ng-container>


  <section *ngIf="tableGroub.length==0" class="noData w-50  m-auto">
 <h2 class="text-center text-danger">No Data</h2>
<img src="../../../../../../assets/images/noDataA.png" class="w-100" alt="noData" 
>
  </section>

 







</section>







</section>

</section>

