

#dash{


.row>*{
    // border-bottom: 1px solid rgba(0, 0, 0, 0.2);

    padding-left:0px;
    
    overflow: hidden;

}
.myNav{
    padding-left: -20px;
    padding-right: -20px;
}
.sid{
    border-right: 1px solid rgba(0, 0, 0, 0.2);

}
}
