<!-- <section class="bg-mainColor_dark">
  <div class="container-fluid p-4 pe-5">
    <div class="row">
      <div class="col-12 col-md-7 col-lg-6 pe-0 pe-md-5 full_height">
        <div class="">
          <img src="../../../../../assets/images/Logo-white.svg" class="w-25" alt="">
        </div>
        <h2 class="text-mainColor_lightGreen my-4">Continue your learning journey with QuizWiz!</h2>
        <div class="my-1 mb-5">


          <button class="Sign me-5"><i class="fa-solid fa-user d-block py-2"></i> Sign In</button>

          <button class="Sign"><i class="fa-solid fa-user-plus d-block py-2"></i> Sign Up</button>

        </div>
        <form [formGroup]="changePasswordForm" (ngSubmit)="handleForm(changePasswordForm)" class="w-100">

          <div class="form-item w-100">
            <label for="email" class="text-white">Your Password Address</label>
            <div class="input-group mb-3 custom-input">
              <span class="input-group-text px-3 py-3 bg-transparent text-white" id="basic-addon1"><i
                  class="fa-solid fa-key"></i></span>
              <div class="y-line my-auto"></div>
              <input [type]="password_type"
                class="form-control py-1  rounded-0 border-end-0 bg-transparent text-white ps-3"
                placeholder=" Enter your password" aria-label="password" aria-describedby="basic-addon1"
                formControlName="password">
              <span
                class="ayes_icon rounded px-3 rounded-start-0 border border-1 border-start-0 bg-transparent text-white d-flex align-items-center justify-content-center"
                id="basic-addon1" role="button" (click)="toggleSee()">
                <i class="fa-regular" [ngClass]="{'fa-eye': see, 'fa-eye-slash': !see}"></i>
              </span>
            </div>
            <div *ngIf="changePasswordForm.get('password')?.errors && changePasswordForm.get('password')?.touched"
              class="text-red m-0 mx-auto p-0 text-start alert alert-danger p-2">
              <mat-error class="text-red" *ngIf="changePasswordForm.get('password')?.getError('required')">password is
                required</mat-error>
              <mat-error class="text-red p-0 block"
                *ngIf="changePasswordForm.get('password')?.getError('pattern')">password
                isn't
                Validator</mat-error>
            </div>
          </div>
          <div class="form-item w-100">
            <label for="password_new" class="text-white">Your Password Address</label>
            <div class="input-group mb-3 custom-input">
              <span class="input-group-text px-3 py-3 bg-transparent text-white" id="basic-addon1"><i
                  class="fa-solid fa-key"></i></span>
              <div class="y-line my-auto"></div>
              <input [type]="password_type"
                class="form-control py-1  rounded-0 border-end-0 bg-transparent text-white ps-3"
                placeholder=" Enter your password_new" aria-label="password_new" aria-describedby="basic-addon1"
                formControlName="password_new">
              <span
                class="ayes_icon rounded px-3 rounded-start-0 border border-1 border-start-0 bg-transparent text-white d-flex align-items-center justify-content-center"
                id="basic-addon1" role="button" (click)="toggleSee()">
                <i class="fa-regular" [ngClass]="{'fa-eye': see, 'fa-eye-slash': !see}"></i>
              </span>
            </div>
            <div
              *ngIf="changePasswordForm.get('password_new')?.errors && changePasswordForm.get('password_new')?.touched"
              class="text-red m-0 mx-auto p-0 text-start alert alert-danger p-2">
              <mat-error class="text-red"
                *ngIf="changePasswordForm.get('password_new')?.getError('required')">password_new is
                required</mat-error>
              <mat-error class="text-red p-0 block"
                *ngIf="changePasswordForm.get('password_new')?.getError('pattern')">password_new
                isn't
                Validator</mat-error>
            </div>
          </div>

          <div class="col-md-12 d-flex justify-content-start align-items-center">
            <button [disabled]="!changePasswordForm.valid" class="submit" type="submit">
              <span class="text me-1">Sign in</span><span><i class="fa-solid  fa-circle-check"></i></span>
            </button>

          </div>

        </form>


      </div>


      <div
        class="col-md-5 col-lg-6 border rounded-5 d-none d-md-flex bg-mainColor_light justify-content-center align-items-center">
        <div class="w-75">
          <img src="../../../../../assets/images/Auth_Image.svg" class="w-100" alt="">
        </div>
      </div>

    </div>
  </div>
</section> -->
