<section id="home">
    <div class="row g-3 flex-nowrap">
        <div class="border rounded-2  mt-5">
            <h4 class="ms-2 mt-4">Upcoming quizzes</h4>
            <div class="d-flex flex-wrap mt-5">
                <section *ngFor="let item of incomingQuizes" class="col-md-6 mb-5">
                    <div class="d-flex border rounded-2 m-auto" style="width: 90%;">

                        <div class="w-25">
                            <img src="../../../../../../assets/images/Quiz img.svg" alt="" class="w-100">
                        </div>
                        <div class="ps-2 d-flex align-items-center justify-content-between w-75">
                            <div class="w-100 pe-2">
                                <h5>{{item.title}}</h5>
                                <h6>{{item.description}}</h6>
                                <h6>{{item.schadule | date : "dd/MM/y h:ss:mm:a"}}</h6>
                                <h6 class="text-success d-flex justify-content-between">{{item.code}} 
                                <i class="text-success fa-2x fa-regular fa-copy"></i></h6>

                            </div>
                        </div>


                    </div>

                </section>
            </div>

        </div>

    </div>
</section>