<section class="sidebar  vh-100 border border-start-0 border-top-0 border-bottom-0 border-1">
  <div class="text-center">
  </div>
  <ul>
    <li class="icons d-flex justify-content-between align-items-center ">
      <div class="w-25">
        <img src="../../../../../assets/images/burger-bar.png" width="35px" alt="">
      </div>
      <div class="d-flex">
        <i class="fa-regular fa-circle-xmark"></i>
        <i class="fa-regular fa-circle-check"></i>
      </div>
    </li>

    <ng-container *ngFor="let item of Menu">
      <li *ngIf="item.isActive">
        <a [routerLink]="item.link" class="linksModules">
          <span>
            <i [class]="item.icon"></i></span>
          <span class="text-capitalize " *ngIf="isOpened">{{item.text}}</span>
        </a>
      </li>
    </ng-container>

  </ul>
</section>