
<section>
    <div class="row">
        <div class="col-md-6">
            <div class="row mt-4 ms-4 w-75">
                <div class="col-md-5 col-sm-4 border rounded-2 text-center mx-2 p-4 addQ">
                    <a class=" text-decoration-none text-black myPointer">
                        <img src="../../../../../../assets/images/new quiz icon.svg" alt="">
                        <h5>Join Quiz</h5>
                    </a>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-5 border rounded-2 ms-5 mt-5">
        <h4>Completed Quizzes</h4>
        <table class=" w-100">



            <thead class="mb-2">
                <th class="rounded-start-4">Question Title </th>
                <th>Question Desc</th>
                <th>Type</th>
                <!-- <th class="rounded-end-4">Actions</th> -->
            </thead>

            <tbody>



                <tr class="" *ngFor="let item of completedQuizes">
                    <td>{{item.title }}</td>
                    <td>{{item.description}}</td>
                    <td>{{item.type}}</td>
                    <!-- <td class=" ">
                        <div class="w-50 m-auto d-flex justify-content-between m-auto">


                            <i class="fa-solid fa-pen-to-square mx-1"></i>
                            <i  class="fa-solid fa-trash-arrow-up  mx-1 "></i>
                            <i  class="fa-regular fa-eye-slash  mx-1"></i>
                        </div>

                    </td> -->
                </tr>

            </tbody>
        </table>

    </div>


</section>



</section>
