
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$QuizwizApp-primary: mat.define-palette(mat.$indigo-palette);
$QuizwizApp-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$QuizwizApp-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$QuizwizApp-theme: mat.define-light-theme((
  color: (
    primary: $QuizwizApp-primary,
    accent: $QuizwizApp-accent,
    warn: $QuizwizApp-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($QuizwizApp-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


// *SECTION



*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

}


a,i,button,image ,input{
  cursor: pointer;
}


.d-center{
  display: flex;
justify-content: center;
align-items: center;
}


.form-select:focus,
.form-control:focus{
  border-color: rgb(197, 216, 109);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(197, 216, 109,.3);
}

.form-control::placeholder {
  color: #fff; /* Example color */
  margin-left: 6px;
}
// *colors

$mainColor_dark:#0D1321;
$mainColor_light:#FFEDDF;
$mainColor_lightGreen:#C5D86D;



// ^_utilities

.pointer {
  cursor: pointer;
}

.bg-mainColor_dark {
  background-color: $mainColor_dark;
}
.bg-mainColor_light {
  background-color: $mainColor_light;
}
.bg-mainColor_lightGreen {
  background-color: $mainColor_lightGreen;
}

.text-mainColor_dark {
  color: $mainColor_dark;
}
.text-mainColor_light {
  color: $mainColor_light;
}
.text-mainColor_lightGreen {
  color: $mainColor_lightGreen;
}

.bg-transparent {
  background-color: transparent !important;
}