
@import "./colors";

.pointer {
  cursor: pointer;
}

.bg-mainColor_dark {
  background-color: $mainColor_dark;
}
.bg-mainColor_light {
  background-color: $mainColor_light;
}
.bg-mainColor_lightGreen {
  background-color: $mainColor_lightGreen;
}

.text-mainColor_dark {
  color: $mainColor_dark;
}
.text-mainColor_light {
  color: $mainColor_light;
}
.text-mainColor_lightGreen {
  color: $mainColor_lightGreen;
}

.bg-transparent {
  background-color: transparent !important;
}


.fit_content {
  width: fit-content;
}

.groubList{

  border:1px solid #00000033;
  border-radius: 10px;


.cards{
  border:1px solid #00000033;
  border-radius: 10px;
  padding: 1rem;
}
}

#main-table{
    background-color: tomato;
    width: 95%;
    margin: auto;


#addEdit{

  .header{
      border-bottom: 1px solid #0000004D;
  }

  .corect{
      border: 1px solid #0000004D;
      border-bottom: none;
  }

}

  }

